@import './variables.scss';

* {
	margin: 0;
	font-size: 10px;
	box-sizing: border-box;
	color: $light-text;
	z-index: 3;
	@include font-five;
};

.app-background {
	@include fill-screen;
	z-index: 1;
	background: linear-gradient(rgba(76, 4, 117, 0.87), rgba(1, 17, 14, 0.938)), url('./assets/background-1.jpg');
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	box-shadow: inset black 0 1rem 12rem;
}

.app {
	@include fill-screen;
	@include center-h;
	justify-content: space-evenly;
	@include small-media {
		@include center-v;
	}
}
