@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces&family=Fredericka+the+Great&family=Krub&family=Limelight&family=Oleo+Script&display=swap');

@mixin font-one {
	font-family: 'Bitter', serif;
}

@mixin font-two {
	font-family: 'Bebas Neue', cursive;
}

@mixin font-three {
	font-family: 'Fraunces', serif;
}

@mixin font-four {	
	font-family: 'Fredericka the Great', cursive;
}

@mixin font-five {	
	font-family: 'Krub', sans-serif;
}

@mixin font-six {	
	font-family: 'Limelight', cursive;
}

@mixin font-seven {	
	font-family: 'Oleo Script', cursive;
}

$light-text: rgba(255, 255, 255, 0.9);

@mixin center-h {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin center-v {
	@include center-h;
	flex-direction: column;
}

@mixin fill-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

$phone: 500px;
$tablet: 775px;

@mixin small-media {
	@media screen and (max-width: $phone) { @content };
}

@mixin large-media {
	@media screen and (min-width: $phone) { @content };
}

@mixin tablet-only {
	@media screen and (min-width: $phone) and (max-width: $tablet) { @content };
}

@mixin tablet-and-smaller {
	@media screen and (max-width: $tablet) { @content };
}
